.signupPage {
  opacity: 1;
}

.formWrap {
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  background: #FAFAFA;
}

.textField {
  width: 100%;
}

.submitBtn {
  width: 100%;
}
